/* Import fonts */
/*
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

thead {
    font-weight: bold;
}

table {
    width: 100%;
}


h1, h2, h3 {
    margin-top: .8em;
    margin-bottom: .7em;
}

pre code {
    font-size: 15px !important;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', Monaco, 'Droid Sans Mono', monospace;
}

body {
    color: #353b44;
    background: #edece4;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px !important;
    font-weight: 400;
}

h2,h3,h4,h5{
    font-weight: 700;
}


h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}*/
/*
label{
    font-weight: 400;
}
*/
/*
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

input:focus, textarea:focus { outline: none; }
*:focus {outline: none;}
::selection {
    background: #67c81c;
    color: #fff;
}
::-moz-selection {
    background: #67c81c;
    color: #fff;
}

*/

h2 {
  padding-left: 40px;
  font-weight: bold;
  font-size: 25px;
}

h3 {
  padding-left: 80px;
  font-weight: bold;
  font-size: 20px;
}

#container {
    width: 100%;
    height: 100%;
}

/*/
/* SIDEBAR
/*/

#sidebar {
    width: 185px;
    height: 100%;
    padding-top: 40px;
    position: fixed;
    background: #f1fce9;
    overflow-y: auto;
}

.sidebar-menu .fa {
    width: 25px;
    text-align: center;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: 0 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 0px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #e2f9d2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12.5px;
    padding: 0 0 0 11px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #666;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #4a9b0d;
    background: #f1fce9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #666;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-bottom: 1px solid #D7D7D7;
    white-space: nowrap;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #e2f9d2;
    color: #4a9b0d;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border: 1px solid #67c81c;
}

ul.sidebar-menu li.hidemenu a {
    font-size: 30px;
    padding: 8px;
    text-align: center;
}

ul.sidebar-menu li.hidemenu a:hover, ul.sidebar-menu li.hidemenu a:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #D7D7D7;
    background: transparent;
}

ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #67c81c;
}

ul.sidebar-menu li a i {
    padding-right: 6px;
}

#sidebar ul > li > a .menu-arrow {
    float: right;
    margin-top: 2px;
}


/*/
/* NAVBAR
/*/

.navbar-default {
  background: rgba(11,22,3,0.75);
  border: 0;
  color: #fff;
  min-height: 35px;
  max-height: 40px;
}

.navbar-default a {
  color: #fff;
}

.navbar-default a:hover {
  color: #67c81c;
  text-decoration: none;
}


/*/
/* MAIN CONTENT
/*/

#main-content {
    padding-top: 45px;
    margin-left: 185px;
    line-height: 1.5;
    /*font-size: 18px;*/
}

.panel-body a {
    line-height: 1.5;
}

.panel-header {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #67c81c;
  background: #f1fce9;
}

.panel-nav, .panel-nav a {
  color: #666;
  background: transparent;
  width: 98%;
  height: 32.5px;
  font-size: 25px;
  text-align: center;
  margin-left: 1%;
}


.panel-nav:hover {
  color: #4a9b0d;
  background: #f1fce9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*
.panel-body a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #67c81c;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
*/
/*
.panel-body a:hover:after, .panel-body a:focus:after {
    width: 100%;
}

/*
.header {
    min-height: 60px;
    padding: 0 10px;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    text-align:center;
}


.black-bg {
    background: rgba(20,20,20,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 0px 15px 15px 0px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 400;
    color: #8E8E93;
    float: left;
    margin-top: 10px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

h1.top-menu {
    margin-top: -5px;
}
.title-row {
    margin-top: 15px;
    margin-left: 16px;
    color: #EEE;
}
.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}


.top-nav  {
    margin-top: 15px;
}
*/

/*--sidebar toggle---*/
/*
.toggle-nav {
    float: left;
    padding-right: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: gray;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    width:100%;
    min-height:1200px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 6em;
    color: rgba(0,0,0,0.5);
    text-align: center;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.navigation.next {
    right:0;
}


.navigation:hover {
    background-color: rgba(0,0,0,0.1);
}
*/
/* Styled keypress from Wikipedia */
/*
kbd {
  border: 1px solid #aaa;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0.1em 0.2em 0.2em #ddd;
  -webkit-box-shadow: 0.1em 0.2em 0.2em #ddd;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee);
  background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
}
*/
/* For definitions of variables */
/*
dl {
    margin: 1em;
    border-bottom: 1px solid #ccc;
}

dt {
    float: left;
    clear: left;
    width: 9.5em;
    margin: 0.125em;
    padding: 2px 4px;
}

dd {
    padding: 0.2em 0 0.2em 10em;
    border-top: 1px solid #ccc;
}
*/
/* Prevent linebreak right after an icon */
/*
#main-content .fa {
  display: inline;
}*/

/* Table of contents */
/*
.toc ul { list-style: none; margin: 0; padding: 0 5px;  }
.toc ul li { display: inline; }
#TableOfContents > ul > li > ul > li > ul li { margin-right: 8px; }
#TableOfContents > ul > li > ul > li > a, #TableOfContents > ul > li > a   { font-weight: bold; background-color: #eeeeee; padding: 0 10px; margin: 0 2px; }
#TableOfContents > ul > li > ul > li > a { font-style: italic; }
.toc.compact ul > li > ul > li > ul  { display: none; }

#toc {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 50px 10px 20px;
}
*/
/*
.dummy {
    padding-top: 90%; *//* Making rows line up even if img proportions off */
/*}*/
/*
.thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width:1200px) {
    .toc {
        display: none;
    }
}
*/
/*
@media (max-width: 768px) {

    .header {
        position: absolute;
    }
*/
    /*sidebar*/
/*
    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }

*/
    /* body container */
/*    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
*/
    /* sidebar */
/*    #sidebar {
        margin: 0px !important;
    }

    .btn {
        margin-bottom: 5px;
    }

}*/
