# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.(gif|jpg|png|jpeg)$ /landing/img/$1.$2 [NC]

#RewriteRule ^(.*)\.(ico)$ /$1.$2 [L,NC]