html,body {
  font-family: 'Droid Sans', sans-serif;
  height:100%;
  font-size: 15px;
}

h1 {
  font-family: 'Droid Serif', serif;
  font-size:60px;
  color: #F5F7FA;
}

.panel-heading h2 {
 font-family: 'Droid Serif', serif;
 font-weight: 700;
 color: #fff;
}

h3 {
 padding-top: 1%;
 padding-bottom: 1%:
}

.valignmid {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.lead { color: #F5F7FA; }
#foot { font-size: 10px; }
#foot a {color: #F5F7FA;}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  overflow:hidden;
}

.container-wide {
  margin: 0 auto;
  width: 100%;
  overflow:hidden;
}

.container a { color:#363636; text-decoration:none; }
.container-full a { color:#F5F7FA; text-decoration:none; }
.container-wide a { color:#363636; text-decoration:none; }

.guidecolor { background-color:#F5F7FA; color:#000; }
.landcolor { background-color:#363636; color:#999; }

.aho :hover {text-decoration:none; color: #999;}

.panel-heading { text-align: center; }
.panel-default { text-align: justify; cursor: pointer; }
#fj-for { background-color: #c1d35f; }
#fj-inv { background-color: #546371; }
#fj-tra { background-color: #ea696c; }

.social :hover { color: #999; }